.header {
  width: 100%;
  height: 100px;
  background-color: rgb(25, 25, 25);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

#main-logo {
  background: rgba(75, 75, 200, 0.15);
  border-radius: 50%;
  cursor: pointer;
  border-width: 5px;
  border-color: white;
  color: white;
  grid-column-start: 2;
  align-self: start;
  margin: 10px;
}

.closed-menu {
  background-color: rgb(177, 177, 177);
  border: 2px solid grey;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 5px 3px;
  height: 30px;
}

.open-menu {
  background-color: rgb(177, 177, 177);
  border: 2px solid grey;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
  padding: 12px 10px 3px 2px;
  gap: 15px;
  margin-top: 35px;
}

.menu-line {
  width: 35px;
  height: 2px;
  background-color: black;
  padding: 0;
  margin: 0;
}

.menu-item {
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 7px 15px;
  background-color: white;
  text-decoration: none;
  color: black;
}

.logout-button {
  background-color: white;
  border: none;
  font-size: 1em;
}
